<ion-view view-title="Seasonal Fruits & Vegetables">
  <ion-content class="padding">
    <button onclick = "setValue()">Set Values</button>
    <div class="list card">
      <div class="item item-divider"><b>Fruits</b></div>
      <div class="item item-body">
        <div id = "fruits">
        </div>
      </div>
    </div>
    
    
    
    
    
    
    <div class="list card">
      <div class="item item-divider"><b>Vegetables</b></div>
      <div class="item item-body" id = "vegetable">
        <div>
          You ate an apple today!
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
