<ion-view view-title="Seasonal Fruits & Vegetables">
  <ion-content class="padding">
    <button onclick = "setValue()">Set Values</button>
    <div class="list card">
      <div class="item item-divider"><b>Fruits</b></div>
      <div class="item item-body">
        <table id = "fruits" class = "food"></table>   
      </div>
    </div>

    <div class="list card">
      <div class="item item-divider"><b>Vegetables</b></div>
      <div class="item item-body">
        <table id = "vegetables" class = "food"></table>
      </div>
    </div>
  </ion-content>
</ion-view>
