<html>
<head></head>
<body>

<form id="name-input" action="submit">
  Enter Twitter Screen Name @<input type="text" name="fname"><input type="submit">
</form>

<div id="tweet-list"></div>

</body>



<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script>

//templates
var T_tweets = '<div class="tweet">'+
  '<img src="' + '<%= profile_img %>">' +
  '<p>' + '<%= tweet %>' + '</p>' +
  '</div>';

var T_tweets_comp = _.template(T_tweets);

//io
var io = io.connect('http://localhost');

io.emit('ready');

io.on('populate-twt', function(data){
  $('#tweet-list').html(' ');
  for(var i in data){
    $('#tweet-list').append(T_tweets_comp(data[i]));
  }
})

io.on('stream-twt', function(data){
    console.log(T_tweets_comp(data))
    $('#tweet-list').prepend(T_tweets_comp(data));
})

$( "#name-input" ).submit(function(event) {
  var formData = $('#name-input input').val();
  $('#tweet-list').html('fetching');
  io.emit('ready', formData);
  event.preventDefault();
})

// function renderList(input){
//   var output = '<div class="output-item"><img src="'+input.profile_img+'"><p>'+input.tweet+'</p></div>';
//   $('#tweet-list').append(output);
// }

</script>
</html>
