/* Empty. Add your own CSS if you like */
.scroll {
    height: 100%;
}
 
#map {
    width: 100%;
    height: 100%;
}

.food {
    border-collapse: collapse;
    border-style: hidden;
}

.food td{
    border: 1px solid grey;
    margin-left:20px;
}